body {
     background-image: url("Water.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

body {
     text-align: center;
     font-size: 50px;
     font-weight: bold;
}

p {
     background-color: LightCyan;
     opacity: .5;
     font-weight: normal;
     font-size: 40px;

}

a {
     font-size: 30px;
}
