body {
	background-image: url("Water.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.aClass {
	background-color: lightcyan;
	opacity: .5;
	font-weight: bold;
	font-size: 40px;

}

a {
	font-size: 30px;
}

#demo {
	background-color: lightcyan;
	opacity: .5;
	font-weight: bold;
	font-size: 50px;
}
