#content {
    background-color: whitesmoke;
}

#getReco {
    text-align: right;
}

h1 {
    font-family: Arial;
    text-align: center;
}

button {
    font-family: Arial;
}

input {
    width: 15%;
    font-family: Arial;
}

body {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

