#content {
    background-color: whitesmoke;
}

h1 {
    font-family: Arial;
}

button {
    font-family: Arial;
}

input {
    /* size: 100; */
    width: 15%;
    font-family: Arial;
    text-align: center;
}

body {
    font-family: Arial;
    text-align: center;
    font-size: 20px;
}

